:root{
--primary:#ceced1;
--secondary:aqua;
--dark:rgb(17, 5, 87);
}
body{
    box-sizing: border-box;
}
.landing{
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}
.container{
margin: 0 auto;
padding: 2rem;

}
.level-1{
    height: 80vh;
    text-align: start;
}
.level-2{
    display: flex;
    gap: 1.5rem;
   padding-block: 40px;
}
.level-3{
     padding-block: 40px;
}
.user-image{
  border: 5px solid rgb(14, 235, 235);
  width: 45%;
  height: 45vh;
}
.about{
    text-align: start;
    width: 45%;
}
/* .resume-btn{
    background-color: var(--secondary);
} */
.projects-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   gap: 40px;
   padding-block: 20px;
}
.project-infor{
    text-align: start;
    padding:0.4rem 0.8rem;
}
.services-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.top-section{
    text-align: center;
}
.footer{
    border-radius: 32px 32px 0 0;
    background-color: var(--dark);
    height: 60vh;
    color: antiquewhite;
}
.project-image{
    border: 5px solid var(--secondary);
}